
.label {
  font-size: 14px;
  margin-top: 0% !important;
  margin-left: 0px;
  text-align: initial;
}

.contents {
  display: inline-flex;
  width: 100%;
}

.description {
  margin: 0px;
  font-size: 12px;
  text-align: initial;
  word-break: break-word !important;
}
